@font-face {
  font-family: 'iconfont'; /* Project id 3299955 */
  src: url('//at.alicdn.com/t/font_3299955_dyavyqsqxc.woff2?t=1652533053950')
      format('woff2'),
    url('//at.alicdn.com/t/font_3299955_dyavyqsqxc.woff?t=1652533053950')
      format('woff'),
    url('//at.alicdn.com/t/font_3299955_dyavyqsqxc.ttf?t=1652533053950')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bisai:before {
  content: '\e60c';
}

.icon-7wodeziliao:before {
  content: '\e882';
}

.icon-yijianfankui:before {
  content: '\e662';
}

.icon-wodeshoucang:before {
  content: '\e630';
}

.icon-wodefabu:before {
  content: '\e607';
}
.icon-yanjing:before {
  content: '\e857';
}
.icon-jibenziliao:before {
  content: '\e61f';
}
.icon-wenjianjia:before {
  content: '\ec17';
}
